/* footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    background-color: var(--footer-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    @media screen and (min-width: 480px) and (max-width: 1199px){
    text-align: center;
    
    }
    }

.footer-contacts {
    margin-top: 20px;
}

.footer-contacts__address {
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__link {
    color: var(--secondary-white-color);
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    font-style: normal;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts__address:hover,
.footer-contacts__address:focus {
    color: var(--accent-color);
}

.footer-contacts__link:hover,
.footer-contacts__link:focus {
    color: var(--accent-color);
}

.footer-contacts__item:not(:last-child) {
    margin-bottom: 9px;
}

.footer-logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.footer-logo::after {
    content: "Studio";
    color: var(--primary-white-color);
}
.address-box{
@media screen and (min-width: 480px) and (max-width: 767px){
    margin-bottom: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199px){
margin-bottom: 60px;
}
}
.main-contacts{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: baseline;
padding: 0;
margin: 0;
@media screen and (min-width: 480px) and (max-width: 767px){
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}
@media screen and (min-width: 768px) and (max-width: 1199px){
justify-content: space-around;
width: 100%;
}
@media screen and (min-width: 1200px){
min-width: 570px;
}
}

.join-box {
    display: block;
    // margin-left: 70px;
    @media screen and (min-width: 480px) and (max-width: 767px){
    text-align: center;
    margin-bottom: 60px;
    width: 100%;
    }
 @media screen and (min-width: 768px) and (max-width: 1199px){
    margin-bottom: 102px;
 }
}

.join-box__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-white-color);
    margin-top: 10px;
    margin-bottom: 20px;
}

.join-box__list {
    display: flex;
    align-items: center;
    @media screen and (min-width: 480px) and (max-width: 768px){
justify-content: center;
    }
    
}

.social-link:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    fill: var(--primary-white-color);
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    fill: var(--grey-text-color);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    fill: var(--primary-white-color);
    background-color: var(--accent-color);
    border-radius: 50%;
}

/* -----------------Subscribe---------------- */
.subscription {
    width: 100%;
    display: block;
    margin-right: 0;
    margin-left: auto;
    @media screen and (min-width: 480px) and (max-width: 768px){
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   max-width: 450px;
    }
@media screen and (min-width: 1200px){
    width: unset;
}
}

.subscription__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 20px;
    color: var(--primary-white-color);
    @media screen and (min-width: 480px) and (max-width: 1199px){
    text-align: center;
    }
}

.subscription__label {
    display: block;
    margin: 0;
    justify-content: center;
    width: 100%;
    @media screen and (min-width: 480px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    }

}

.subscription__form{
    display: flex;
    width: 100%;
    @media screen and (min-width: 480px) and (max-width: 1199px){
   flex-direction: column;
    width: 100%;
    align-items: center;
    }
}

.subscription__email {
    width: 100%;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    // width: 358px;
    height: 50px;
    margin-right: 12px;
    padding: 15px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--primary-white-color);
    background-color: transparent;

    @media screen and (min-width: 480px) and (max-width: 1199px){
    margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
}
}
.subscribtion__icon {
    margin-left: 10px;
    fill: var(--primary-white-color);
    width: 24px;
    height: 24px;
}

.subscription__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    height: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: 1px solid transparent;
    border-radius: 4px;
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    cursor: pointer;

}