header {
    position: relative;
    border-bottom: 1px solid var(--border-color);
    padding: 24px 0;
    @media screen and (min-width: 768px) and (max-width: 1199px){
    padding: 21px 0;
    }
}

.main-nav {
display: flex;
align-items: center;
    /* height: 80px; */
}

.menu-button{
position: relative;
display: inline-flex;
margin-left: 250px;
padding: 0;
border: black;
background-color: none;
cursor: pointer;

@media screen and(mid-width: 768px){
display: none;
}
}

.menu-button .icon-cross{
display: none;
}

.menu-button.is-open .icon-cross{
display: block;
}

.menu-button.is-open icon-menu{
    display: none;
}

.menu-container{
display: none;
position: absolute;
top: 100%;
left: 0;
height: 100vh;
width: 100%;
background-color: #fff;
text-align: center;
font-size: 50px;
padding: 20px;

&.is-open{
display:block;   
}
}
.mobile-nav{
    display: block;
    margin: 0;
    padding: 0;
}

.mobile-nav__list{
margin-right: 0;
}
mobile-nav__item{
font-weight: 500;
font-size: 40px;
line-height: 1.17;
text-align: center;
letter-spacing: 0.02em;
}
// .mobile-nav__link

// .mobile-nav__contacts

// .mobile-nav__contact
// .mobile-nav__socials
// .mobile-nav__social


/* --------------------------------logo------------------------------------ */

.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    /* color: #2196F3; */
}

.logo::after {
    content: "Studio";
    color: var(--logo-text-color);
}

/* -------------------------------site nav-------------------------------------*/

.site-nav {
display: flex;
margin-left: 93px;
@media screen and (max-width: 767px){
display: none;
}
@media screen and (min-width: 767px) and (max-width: 1199px){
margin-left: 88px;
}
  
}

.site-nav{
    &__item:not(:last-child) {
    margin-right: 50px;
}
}

.site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav{
    &__link:hover,
    &__link:focus {
    color: var(--accent-color);
}
}

.site-nav__link-current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}



/* ------------header contacts----------------------------- */
.contacts {
    display: flex;
    margin-left: auto;

    @media screen and (max-width: 767px) {
    display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
    flex-direction: column;
    margin-bottom: 10px;
    }
}

.contact__link {
    display: flex;
    @media screen and (min-width: 768px) and (max-width: 1199px){
    margin-left: 84px;
    align-items: flex-end;
}     
}


.contact__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 10px;
}

.contact__image {
    margin-right: 10px;
}

.contact__link {
    display: flex;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact{
&__link:hover,
&__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
}