header {
    position: relative;
    border-bottom: 1px solid var(--border-color);
    padding: 24px 0;
    @media screen and (min-width: 768px) and (max-width: 1199px){
    padding: 21px 0;
    }
}

.main-nav {
display: flex;
align-items: center;
    /* height: 80px; */
}

.menu-button{
position: absolute;
display: inline-flex;
margin-left: 0;
padding: 0;
border: 0;
background-color: transparent;
cursor: pointer;
top: 0;
right: 0;
transform: translate(-50%, 50%);
z-index: 21;

@media screen and(mid-width: 768px){
display: none;
}
}

.menu-button .icon-cross{
display: none;
}

.menu-button.is-open .icon-cross{
display: block;
}

.menu-button.is-open .icon-menu{
    display: none;
}
.icon-cross{
    position: absolute;
    
}

.menu-button:hover,
.menu-button:hover{
fill: var(--accent-color);
}


.menu-button.is-open:hover
.menu-button.is-open:hover {
fill: var(--accent-color);
}

.menu-container{
display: none;
position: absolute;
top: 0;
left: 0;
height: 100vh;
width: 100%;
background-color: #fff;
text-align: center;
font-size: 50px;
padding: 48px 40px;
overflow-y: scroll;
height: 100vh;
z-index: 20;


&.is-open{
display: flex;
flex-direction: column;  
justify-content: space-between; 
}
}

.mobile-nav{
    text-align: left;  
}
.mobile-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-left: 0;
    
}


.mobile-nav__item{
font-weight: 500;
font-size: 40px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--title-text-color);
text-decoration: none ;


}
.mobile-nav__item:not(:last-child){
margin-bottom: 32px;  
}

.mobile-nav__contacts{
  text-align: left;
}

.mobile-nav__contact1{
font-weight: 500;
font-size: 34px;
line-height: 1.18;
letter-spacing: 0.02em;
color: var(--accent-color);
margin-bottom: 32px;
margin-top: 302px;
}
.mobile-nav__contact2 {
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;
color:var(--primary-text-color);
margin-bottom: 64px;
}

.mobile-nav__box{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.mobile-nav__socials{
    display: flex;
}
.mobile-nav__link{
    text-decoration: none;
    color: var(--title-text-color);
    cursor: pointer;
}

.mobile-nav__link:hover,
.mobile-nav__link:focus {
color: var(--accent-color);
}


 .mobile-nav__social{
    padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--accent-color);
 }
.mobile-nav__social:not(:last-child){
border-right: 1px solid rgba(33, 33, 33, 0.2);
}

 .social, .contact1{
    text-decoration: none;
    color: var(--accent-color);
 }
.contact2{
text-decoration: none;
color: var(--primary-text-color);
}


/* --------------------------------logo------------------------------------ */

.logo {
    color: var(--accent-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}

.logo::after {
    content: "Studio";
    color: var(--logo-text-color);
}

/* -------------------------------site nav-------------------------------------*/

.site-nav {
display: flex;
margin-left: 93px;
@media screen and (max-width: 767px){
display: none;
}
@media screen and (min-width: 767px) and (max-width: 1199px){
margin-left: 88px;
}
  
}

.site-nav{
    &__item:not(:last-child) {
    margin-right: 50px;
}
}

.site-nav__link {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--title-text-color);
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav{
    &__link:hover,
    &__link:focus {
    color: var(--accent-color);
}
}

.site-nav__link-current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
}



/* ------------header contacts----------------------------- */
.contacts {
    display: flex;
    margin-left: auto;

    @media screen and (max-width: 767px) {
    display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
    flex-direction: column;
    margin-bottom: 10px;
    }
}

.contact__link {
    display: flex;
    @media screen and (min-width: 768px) and (max-width: 1199px){
    margin-left: 84px;
    align-items: flex-end;
}     
}


.contact__item:not(:last-child) {
    margin-right: 50px;
    margin-bottom: 10px;
}

.contact__image {
    margin-right: 10px;
}

.contact__link {
    display: flex;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact{
&__link:hover,
&__link:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
}
}