/* ----------------------------filters--------------------------- */
// .filters-nav .link {
//     color: var(--accent-color);
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }

// .filters-nav .link:hover,
// .filters-nav .link:focus {
//     color: var(--accent-color);
// }

// .link.current {
//     color: var(--accent-color);
// }


.filters {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filters-list__item {
    display: inline-block;
    padding: 6px 22px;
    /* height: 38px; */
    font-family: inherit;
    color: var(--title-text-color);
    background-color: var(--button-color);
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list{
&__item:hover,
&__item:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
}

.filters__title {
    display: none;
}

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}


.sample-description__type {
    font-size: 16px;
    line-height: 1.9;
    margin-top: 0;
    margin-bottom: 0;
}

.samples-list {
    display: flex;
    flex-wrap: wrap;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.samples-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 60px) / 3);
    max-width: 370px;
    background: var(--primary-white-color);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.samples-list{
&__item:nth-of-type(3n) {
    margin-right: 0;
}

&__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}
}

.sample-description__title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    margin-bottom: 4px;
    margin-top: 0;
}

.samples-box {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
    margin-left: auto;
    margin-left: auto;
    cursor: pointer;
}

.samples-box:hover .sample-overlay {
    transform: translateX(0);
    opacity: 0.8;
}

.sample-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 1);
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.sample-overlay__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    margin: 63px 24px;
    color: var(--primary-white-color);
}

.samples-list{
&__item:hover,
&__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

.sample-description {
    display: block;
    padding: 20px 24px 20px 24px;
    border: 1px solid var(--secondary-border-color);
}

.samples-box__image {
    width: 370px;
    height: 294px;
}