/* direction and team */

.works-list {
    display: flex;
}

.works {
    padding-top: 94px;
    padding-bottom: 94px;

}

.works-list{
&__item:not(:last-child) {
    margin-right: 30px;
}
}

.works-section__title {
    text-align: center;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    margin-bottom: 50px;
    margin-top: 0;
}

.works-thumb {
    position: relative;
}

.works-list__image {
    display: block;
}

.works-list__box {
    display: flex;
    justify-content: center;
    /* position: absolute; */
    bottom: 0;
    left: 0;
    width: 370px;
    background: rgba(47, 48, 58, 0.8);
    color: var(--primary-white-color);
}


.works-list__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;
    margin: 0;
}