:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: rgb(33, 150, 243);
    --primary-white-color: #FFFFFF;
    --button-color: #F5F4FA;
    --secondary-white-color: rgba(255, 255, 255, 0.6);
    --footer-color: #2F303A;
    --logo-text-color: #000000;
    --team-bg-color: #f5f4fa;
    --secondary-border-color: #eeeeee;
    --order-background: #C4C4C4;
    --border-color: #ECECEC;
    --icon-fill: rgba(175, 177, 184, 1);
    --backdrop-background: rgba(0, 0, 0, 0.2);

    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
